/* variabler */
:root {
    /* farver */
    --hvid: #EAEAEA;
    --sort: #3F4045;
    --blaa: #0061af;

    /* skriftstørrelser desktop */
    --w-desk: 15%;

    /* skriftstørrelser mobile */
    --w-mobil: 30px;

    /* skriftstørrelser tablet */
    --w-tablet: 60px;
}


/* HTML og body kode der har effekt på alle elementer */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    background-color: var(--hvid);
    font-size: 14px;
}


/* Header og nav menu kode */
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    z-index: 9000;
    background-color: var(--hvid);
}

.burgermenu {
    display: none;
    font-size: 30px;
    color: var(--sort);
    transition: 0.3s;
}

.burgermenu:hover {
    color: var(--blaa);
    cursor: pointer;
}

.nav-bar ul {
    display: flex;
    gap: 15px;
}

.nav-bar ul li {
    display: block;
}

#navactive {
    color: var(--blaa);
    font-weight: 700;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.nav-bar a {
    list-style: none;
    text-decoration: none;
    color: var(--sort);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.833rem;
    padding: 5px 15px;
    transition: 0.3s;
    letter-spacing: 1px;
}

.nav-bar a:hover {
    color: var(--blaa);
    font-weight: 700;
}

.nav-bar.active {
    height: 100vh;
}

.site-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.site-logo img {
    width: 35px;
    height: auto;
    z-index: 9001;
}

.site-logo p {
    color: var(--sort);
    font-weight: 700;
    text-transform: uppercase;
    pointer-events: none;
    line-height: normal;
}

#c-knap {
    background-color: var(--sort);
    color: var(--hvid);
}

#c-knap:hover {
    background-color: var(--blaa);
}

/* header media queries */
@media (min-width: 701px) and (max-width: 1200px) {
    header {
        padding: 0 var(--w-mobil);
    }

    .burgermenu {
        display: block;
    }

    .nav-bar {
        position: absolute;
        height: 0;
        top: 100px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: 0.3s;
        background-color: var(--hvid);
        overflow: hidden;
    }

    #navactive {
        color: var(--hvid);
        font-weight: 700;
        background-color: var(--blaa);
        border: none;
    }

    .nav-bar a {
        font-size: 24px;
        padding: 10px 40px;
    }

    .nav-bar a:hover {
        color: var(--hvid);
        font-weight: 700;
        background-color: var(--blaa);
    }

    .nav-bar ul {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        text-align: center;
        margin: auto;
        gap: 60px;
    }

    #c-knap {
        background-color: rgba(234, 234, 234, 0);
        color: var(--sort);
    }

    #c-knap:hover {
        color: var(--hvid);
        background-color: var(--blaa);
    }

}

@media only screen and (max-width: 700px) {
    header {
        padding: 0 var(--w-mobil);
    }

    .burgermenu {
        display: block;
    }

    .nav-bar {
        position: absolute;
        height: 0;
        top: 100px;
        left: 0;
        right: 0;
        width: 100vw;
        transition: 0.3s;
        background-color: var(--hvid);
        overflow: hidden;
    }

    .nav-bar a {
        font-size: 24px;
        font-weight: 400;
        padding: 10px 40px;
    }

    .nav-bar a:hover {
        color: var(--hvid);
        font-weight: 700;
        background-color: var(--blaa);
    }

    #navactive {
        color: var(--hvid);
        font-weight: 700;
        background-color: var(--blaa);
        border: none;
    }

    .nav-bar ul {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        text-align: center;
        margin: auto;
        gap: 60px;
    }

    .nav-bar ul li {
        margin-bottom: 15px;
    }

    #c-knap {
        background-color: rgba(0, 0, 0, 0);
        color: var(--sort);
    }

    #c-knap:hover {
        background-color: var(--blaa);
        color: var(--hvid);

    }
}

/* footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 50px var(--w-mobil);
    background-color: var(--blaa);
    align-items: center;
    justify-content: space-between;
}

footer p {
    color: var(--hvid);
    font-size: 0.833rem;
}

.social-icons {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 20px;
}

.social-icons a {
    padding: 7.5px;
    font-size: 15px;
    text-decoration: none;
    background: var(--blaa);
    color: var(--hvid);
    border-radius: 50px;
    width: 30px;
    text-align: center;
    transition: 0.3s;
}

.social-icons a:hover {
    background-color: var(--hvid);
    color: var(--blaa);
    cursor: pointer;
}

@media only screen and (min-width: 1200px) {
    footer {
        padding: 50px var(--w-desk);
    }

    .social-icons a {
        padding: 15px;
        font-size: 30px;
        width: 60px;
    }
}

@media (min-width: 700px) and (max-width: 1199px) {
    .social-icons a {
        padding: 15px;
        font-size: 30px;
        width: 60px;
    }
}


/* Home page */


/* hero section */
.hero {
    width: 100%;
    height: 80vh;
    padding: 0 var(--w-mobil);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero>a {
    animation: fadein-rise 1.5s forwards ease;
    animation-delay: .5s;
    opacity: 0;
}

h1 {
    font-size: 42.5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    color: var(--sort);
    display: inline-block;
    transform-origin: left;
    transform: scaleX(0);
    animation: boxreveal 0.4s forwards ease;
    animation-delay: 0.3s;
    pointer-events: none;
}

h1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blaa);
    transform-origin: right;
    transition: 0.5s;
    animation: boxreveal 0.4s reverse forwards ease;
    animation-delay: 0.7s;
}

.blaatekst {
    color: var(--blaa);
    text-transform: uppercase;
}

.btn {
    padding: 10px 30px;
    width: fit-content;
    border-width: 0;
    background-color: var(--sort);
    transition: 0.3s;
    color: var(--hvid);
    font-size: 0.833rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--blaa);
    cursor: pointer;
    font-weight: 700;
}

/* lidt om mig section */
.media-tekst {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: auto;
    padding: 100px var(--w-mobil);
}

.billede {
    width: 100%;
    height: auto;
}

.billede img {
    width: 100%;
    height: auto;
}

.tekst-h {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: var(--sort);
}

p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: var(--sort);
}

/* Quote section */
.quote-sec {
    padding: 100px var(--w-mobil);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--blaa);
}

.scroll-reveal {
    display: inline;
    color: rgba(234, 234, 234, 1);
}

h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--hvid);
}

.quote-sec h3 {
    text-align: right;
}

/* Galleri section */
.galleri {
    display: flex;
    flex-direction: column;
    padding: 100px var(--w-mobil);
    width: 100%;
    height: auto;
    gap: 40px;
    align-items: center;
    text-align: center;
}

.galleri-boks {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
    align-items: center;
}

.galleri-billede {
    width: 100%;
    height: auto;
    transition: 0.3s;
}

.galleri-billede:hover {
    scale: 1.03;
}

.galleri-billede img {
    max-width: 100%;
    height: auto;
}

/* Kontakt formular */
.kontakt-sec {
    display: flex;
    width: 100%;
    padding: 100px var(--w-mobil);
    height: auto;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.kontakt-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.kontakt-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.kontakt-infoboks {
    display: flex;
    flex-flow: row;
    justify-content: left;
    gap: 25px;
    margin: 15px 0;
}

.kontakt-info {
    display: flex;
    gap: 7.5px;
    font-size: 0.833rem;
    align-items: center;
}

.kontakt-info>i {
    color: var(--blaa);
    font-size: 1rem;
}

.kontakt-info>a {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 1px;
    color: var(--sort);
    transform-origin: left;
    transition: 0.3s;
}

.kontakt-info>a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -2px;
    border-bottom: 2px solid var(--blaa);
    transition: right 0.3s ease;
}

.kontakt-info>a:hover::after {
    transition-delay: 0.2s;
    right: 0;
}

.kontakt-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.kontakt-input {
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: var(--sort);
    background-color: var(--hvid);
    padding: 15px;
    transition: 0.3s;
}

.kontakt-input:hover {
    border-color: var(--blaa);
}

#kontakt-besked {
    resize: none;
    height: 150px;
}

#btn-kontakt {
    margin-top: 10px;
}


/* Om mig siden */

.media-tekst-hero {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: auto;
    padding: 100px var(--w-mobil);
}

.media-tekst-hero>.billede {
    position: relative;
    transform-origin: left;
    transform: scaleX(0);
    animation: boxreveal 0.4s forwards ease;
    animation-delay: 0.3s;
}

.media-tekst-hero>.billede::before {
    content: '';
    inset: 0;
    position: absolute;
    background: var(--blaa);
    transform-origin: right;
    animation: fadeout 0.5s forwards linear;
    animation-delay: 0.7s;
    width: 100%;
    height: 100%;
}

.tekst-h-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.tekst-h-hero>p {
    opacity: 0;
    animation: fadein 1s forwards ease;
    animation-delay: 0.3s;
}

.kompetencer {
    padding: 20px var(--w-mobil);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.komp-gall {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
}

.komp-elem {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
    align-items: center;
}

.komp-elem img {
    width: 50%;
}

.komp-elem h3 {
    color: var(--sort);
}


/* media query til tablet */
@media only screen and (min-width: 700px) and (max-width: 1199px) {

    html,
    body {
        background-color: var(--hvid);
        font-size: 24px;
    }

    h1 {
        font-size: 3.25rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        line-height: 38px;
    }

    .media-tekst {
        gap: 80px;
        padding: 100px var(--w-tablet);
    }

    .tekst-h {
        width: 100%;
        gap: 40px;
    }

    .btn {
        padding: 15px 60px;
        font-size: 0.833rem;
    }

    .quote-sec {
        padding: 200px var(--w-tablet);
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .galleri {
        padding: 100px var(--w-tablet);
        gap: 40px;
    }

    .kontakt-sec {
        display: flex;
        width: 100%;
        padding: 100px var(--w-tablet);
        gap: 40px;
    }

    .kontakt-left {
        gap: 10px;
    }

    .kontakt-infoboks {
        flex-direction: row;
        justify-content: space-around;
        margin: 20px 0;
    }

    .kontakt-right {
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    #btn-kontakt {
        margin-top: 20px;
    }

    .media-tekst-hero {
        gap: 80px;
        padding: 200px var(--w-tablet);
    }

    .tekst-h-hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
}


/* media query til desktop */
@media only screen and (min-width: 1200px) {

    html,
    body {
        background-color: var(--hvid);
        font-size: 18px;
    }

    .hero {
        width: 100%;
        height: 100vh;
        padding: 0 250px;
        gap: 70px;
    }

    h1 {
        font-size: 2.986rem;
    }

    h2 {
        font-size: 2.488rem;
    }

    h3 {
        font-size: 1.728rem;
    }

    p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
    }

    .media-tekst {
        flex-direction: row;
        gap: 80px;
        padding: 100px var(--w-desk);
    }

    .tekst-h {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: normal;
    }

    .btn {
        padding: 15px 60px;
        font-size: 0.833rem;
    }

    .quote-sec {
        padding: 200px 350px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 40px;
    }

    .galleri {
        display: flex;
        padding: 100px var(--w-desk);
        gap: 40px;
    }

    .galleri-boks {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
    }

    .galleri-billede {
        flex: 1 1 47%;
        height: auto;
    }

    .kontakt-sec {
        display: flex;
        width: 100%;
        padding: 100px var(--w-desk);
        height: auto;
        flex-direction: column;
        gap: 40px;
        text-align: left;
    }

    .kontakt-grid {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    .kontakt-left {
        display: flex;
        flex: 1 1 49%;
        flex-direction: column;
        text-align: left;
        gap: 10px;
    }

    .kontakt-infoboks {
        flex-direction: column;
        justify-content: space-around;
        margin: 30px 0 0 0;
        gap: 20px;
    }

    .kontakt-info {
        gap: 15px;
    }

    .kontakt-right {
        display: flex;
        flex: 1 1 49%;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        align-items: flex-end;
    }

    #btn-kontakt {
        margin-top: 10px;
    }

    .media-tekst-hero {
        flex-direction: row;
        gap: 80px;
        padding: 200px var(--w-desk);
    }

    .tekst-h-hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: flex-start;
    }

    .kompetencer {
        padding: 100px var(--w-desk);
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        text-align: center;
    }

    .komp-gall {
        gap: 40px;
    }

    .komp-elem {
        display: flex;
        flex-direction: column;
        flex: 1 1 30%;
        align-items: center;
    }

    .komp-elem img {
        width: 40%;
    }

}




/* Keyframe animations */
@keyframes fadein-rise {
    from {
        transform: translateY(40px);
        opacity: 0;
        scale: 95%;
    }

    to {
        transform: translateY(0);
        opacity: 1;
        scale: 100%;
    }
}

@keyframes fadein {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes boxreveal {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}