/* variabler */
:root {
    /* farver */
    --hvid: #EAEAEA;
    --sort: #3F4045;
    --groen: #0A7968;

    /* skriftstørrelser desktop */
    --w-desk: 120px;

    /* skriftstørrelser mobile */
    --w-mobil: 30px;
}


/* HTML og body kode der har effekt på alle elementer */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    background-color: var(--hvid);
}


/* Header og nav menu kode */
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    z-index: 9000;
    background-color: var(--hvid);
}

.burgermenu {
    display: none;
}

.nav-bar ul {
    display: flex;
    gap: 5px;
}

.nav-bar ul li {
    display: block;
}

#navactive {
    color: var(--groen);
    font-weight: 700;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.nav-bar a {
    list-style: none;
    text-decoration: none;
    color: var(--sort);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 15px;
    transition: 0.3s;
}

.nav-bar a:hover {
    color: var(--groen);
    font-weight: 700;
}

.site-logo img {
    width: 50px;
    margin-top: -10px;
    height: auto;
    position: absolute;
    z-index: 9001;
}

#c-knap {
    background-color: var(--sort);
    color: var(--hvid);
}

#c-knap:hover {
    background-color: var(--groen);
}

/* header media queries */
@media only screen and (max-width: 900px) {
    header {
        padding: 0 var(--w-mobil);
    }

    .burgermenu {
        display: block;
        cursor: pointer;
    }

    .nav-bar {
        position: absolute;
        height: 0;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: var(--hvid);
        transition: 0.3s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 220px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        text-align: center;
        margin: 40px auto;
    }

    .nav-bar ul li {
        margin-bottom: 15px;
    }

    #c-knap {
        background-color: var(--hvid);
        color: var(--sort);
    }

    #c-knap:hover {
        color: var(--groen);
        background-color: var(--hvid);
    }

}



/* Home page */


/* hero section */
.hero {
    width: 100%;
    height: 80vh;
    padding: 0 var(--w-mobil);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: 42.5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    color: var(--sort);
}

.groentekst {
    color: var(--groen);
}

.btn {
    padding: 10px 30px;
    width: fit-content;
    border-width: 0;
    background-color: var(--sort);
    transition: 0.3s;
    color: var(--hvid);
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: var(--groen);
    cursor: pointer;
    font-weight: 700;
}

/* lidt om mig section */
.media-tekst {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: auto;
    padding: 50px var(--w-mobil);
}

.billede {
    width: 100%;
    height: auto;
}

.billede img {
    width: 100%;
    height: auto;
}

.tekst-h {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: var(--sort);
}

p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: var(--sort);
}

/* Quote section */
.quote-sec {
    padding: 100px var(--w-mobil);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--sort);
}

.quote-sec h4 {
    text-align: right;
}

/* Galleri section */
.galleri {
    display: flex;
    flex-direction: column;
    padding: 100px var(--w-mobil);
    width: 100%;
    height: auto;
    gap: 40px;
    align-items: center;
    text-align: center;
}

.galleri-boks {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
}

.galleri-billede {
    width: 100%;
    height: auto;
}

.galleri-billede img {
    width: 100%;
    height: auto;
}



/* media query til home page */
@media only screen and (min-width: 900px) {
    .hero {
        width: 100%;
        height: 100vh;
        padding: 0 250px;
        gap: 70px;
    }

    h1 {
        font-size: 91.55px;
    }

    h2 {
        font-size: 73.24px;
    }

    h4 {
        font-size: 46.88px;
    }

    .media-tekst {
        flex-direction: row;
        gap: 80px;
        padding: 100px var(--w-desk);
    }

    .tekst-h {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: normal;
    }

    p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        color: var(--sort);
    }

    .btn {
        padding: 20px 60px;
        font-size: 16px;
    }

    .quote-sec {
        padding: 200px var(--w-desk);
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

}